<!DOCTYPE html>
<html>

<head>
    <title>DATA-Hub Prototype</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://kit.fontawesome.com/b93e436f24.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <style>html,body,h1,h2,h3,h4,h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<script>
    function show(id) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>

<body class="w3-light-grey">

    <!-- Top container -->
    <div class="w3-bar w3-top w3-theme-d5 w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
            onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <span class="w3-bar-item">DATA-Hub Prototype</span>
            <span class="w3-bar-item w3-right">Abraxas / DATA-Hub</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row w3-theme">
            <div class="w3-col s8 w3-bar ">
                Welcome, 
                <br>{{request.user.first_name}} {{request.user.last_name}}
                <br>{% if request.user.use_scope %}{{request.user.use_scope}} {% endif %}
                <br>
                <div class="w3-dropdown-hover">
                    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        {% for auser in all_users %}
                        <a href="{% url 'switch_user' auser.id %}" class="w3-bar-item w3-button" >{{auser.first_name}} {{auser.last_name}} </a> 
                        {% endfor %}
                    </div>
                </div>
            
                <a href="{% url 'setscope' %}" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <hr>


        <div class="w3-container w3-theme">
            <h5>Reporting</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-file fa-fw"></i> Order New Report (TBD)</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-download fa-fw"></i> Download
                Results (TBD)</a>
        </div>


        <div class="w3-container w3-theme">
            <h5>Overview</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
                onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
            <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-globe fa-fw"></i> My DATA-Hub</a>

        {% if user.is_staff %}

            {% if perms.organization.view_dashboard %}
                <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-gauge-high fa-fw"></i> Dashboard</a>
            {% endif %}    

            {% if request.user.is_superuser %}    
            <a href="{% url 'check' %}"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-stethoscope fa-fw"></i> Health Check</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-up-down-left-right fa-fw"></i> Cross Reference (TBD)</a>
            {% endif %}    
            <div class="w3-container w3-theme">
                <h5>Maintenance</h5>
            </div>
            <div class="w3-bar-block">
            {% if perms.organization.add_application %}     
            <a href="{% url 'admin:organization_application_changelist' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-city fa-fw"></i>  Applications</a>
            {% endif %}
            {% if perms.organization.add_area %}     
            <a href="{% url 'admin:organization_area_changelist' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-building fa-fw"></i>  Areas</a>
            {% endif %}
            {% if perms.organization.add_scope %}            
                <a href="{% url 'admin:organization_scope_changelist' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-solid fa-layer-group"></i> Scopes</a>
            {% endif %}
            {% if perms.organization.add_user %}            
                <a href="{% url 'admin:organization_user_changelist' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Users</a>
            {% endif %}
            {% if perms.organization.add_container %}            
                <a href="/admin" class="w3-bar-item w3-button w3-padding"><i class="fa fa-database fa-fw"></i> Data Storage</a>
            {% endif %}
            {% if perms.organization.add_application %}     
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-share fa-fw"></i>  Migration (TBD)</a>
            {% endif %}
            {% if request.user.is_superuser %}     
            <a href="{% url 'load' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-upload fa-fw"></i>  Load Data</a>
            {% endif %}
    
        {% endif %}
        </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>
    
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        {% if messages %}
        <div class="w3-row-padding w3-margin-bottom">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <h3 class="w3-green">{{ message }}</h3>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <h3 class="w3-red">{{ message }}</h3>
                {% endif %}
            </p>
            {% endfor %}
        </div>
        {% endif %}
        
        {% block body %}
        {% endblock %}
    
        <br><br>
        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-theme-d5">
            <h4>Prototype for Concept Discussions</h4>
            <p>Powered by Team Data Science / Abraxas</p>
        </footer>
    </div>  
    
    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

</body>

</html>