{% extends 'base.html' %}

{% block body %}

<header class="w3-container" style="padding-top:22px">
    <h2><i class="fa fa-stethoscope fa-fw"></i> Health Check '{{application}}'
         {% if not application.active %}(not active){% endif %}
    </h2>

    <div class="w3-container w3-theme-l2 w3-padding-16">
    <h5>{{application.desc}}</h5>
    <h5>Business-Unit-Types:
        {% if application.business_unit_1 %}
        {{application.business_unit_1}}
        {% endif %}
        {% if application.business_unit_2 %}
        , {{application.business_unit_2}}
        {% endif %}
        {% if application.business_unit_3 %}
        , {{application.business_unit_3}}
        {% endif %}
        {% if application.business_unit_4 %}
        , {{application.business_unit_3}}
        {% endif %}
        {% if application.business_unit_5 %}
        , {{application.business_unit_5}}
        {% endif %}
    </h5>

    </div>

    {% for db, health in databases.items %}
    <div class="w3-container w3-theme-l2 w3-padding-16 w3-margin-top">
        <h5>Database: <a href="{% url 'admin:organization_container_change' db.id %}">{{db}}</a> ({{db.containersystem}}) - {{db.desc}}
        </h5>
        Connection: {{db.connection}}
        <br>Status: {% if db.active %} active {% else %} not active {% endif %} 
        , Scripts: {% if db.execute_scripts %} execute {% else %} no execution {% endif %} 
        <br>

        <br>To be checked:
        <li>Connection established? - 
            {% if health.connected %} <span class="w3-green"> Yes </span> {% else %} <span class="w3-red"> No</span> - Info: {{health.error}}{% endif %} 
        </li>
        <li>RLS: Schema login_hook exists? - 
            {% if health.schema_login_hook %} <span class="w3-green"> Yes </span> {% else %} <span class="w3-red"> No </span>{% endif %} 
        </li>
        <li>RLS: Functions get_login_hook_version, login, login_core, is_executing_login_hook exists? - 
            <span class="w3-gray">Not checked </span>
        </li>
        <br>
        <li>APP: Schema {{application}}_rd for scope function exists? -
            {% if health.schema_app_rd %} <span class="w3-green"> Yes </span> {% else %} <span class="w3-red"> No </span>{% endif %} 
        </li>

        <li>APP: Function {{application}}_rd.tax_scope exists? - <span class="w3-gray">Not checked </span> </li>
        <li>APP: login_hook.login_core contains PERFORM APP_rd.APP_scope? - <span class="w3-gray">Not checked </span> </li>
        <li>APP: Table {{application}}_rd.{{application}}_scopes_filter exists? - <span class="w3-gray">Not checked </span></li> 
    </div>
    {% endfor %}


    {% for area, info in areas.items %}
    <div class="w3-container w3-theme-l2 w3-padding-16 w3-margin-top">
    {% if area.active %}
    <h5>Area: <a href="{% url 'admin:organization_area_change' area.id %}">{{area}}</a> - {{area.desc}}  {% if not area.active %}(not active){% endif %}</h5>
    <li>Database: <a href="{% url 'admin:organization_container_change' area.database.id %}">{{area.database}}</a>
         - Schema for Tables: <b>{{area.schema_tables}} exists? - </b><span class="w3-gray">
        {% if info.tables %} <span class="w3-green"> Yes </span> {% else %} <span class="w3-red"> No</span>{% endif %} 
        </span> 
    </li>
    <li>Database: <a href="{% url 'admin:organization_container_change' area.database.id %}">{{area.database}}</a>
        - Schema for views: <b>{{area.schema_views}} exists? - </b><span class="w3-gray">
        {% if info.views %} <span class="w3-green"> Yes </span> {% else %} <span class="w3-red"> No</span>{% endif %} 
        </span> 
    </li>
    <li>Filestorage: <a
        href="{% url 'admin:organization_container_change' area.filestorage.id %}">{{area.filestorage}}</a>
         - {{area.filestorage.desc}}</li>    
    <li><a href="/admin/organization/areascope">Areascopes: </a>{{area.areascope_set.all|length}}</li>
    {% endif %}



    </div>
    {% endfor %}

    <div class="w3-container w3-theme-l2 w3-padding-16 w3-margin-top">
        <h5>User with direct access</h5>
    </div>

</header>
<br>

<h3>Checks - to be implemented</h3>
<h4>Database</h4>
<ul>
    <li><a href="https://github.com/splendiddata/login_hook">Login Hook</a> must be installed</li>
    <li>Schema login_hook</li>
    <li>Function get_login_hook_version, login, login_core, is_executing_login_hook</li>
    <li>Information about session ID should be provided</li>
</ul>
<h4>Application</h4>
<ul>
    <li>Schema APP_rd is needed for scope function </li>
    <li>Function APP_rd.tax_scope is needed</li>
    <li>login_hook.login_core must contain PERFORM APP_rd.APP_scope</li>
    <li>Table APP_rd.APP_scopes_filter is needed</li>
</ul>
Issues: 
    <li>Schema APP_rd is needed (hardcoded name).</li>
    <li>login_core is selecting just one scope of the user - unknown which one - should be default-defined by user</li>
    <li>Selected scope should be printed</li>
    <li>Table APP_scopes_filter contains old sesssions - will grow</li>
<h4>Area</h4>
<ul>
    <li>Schema APP_AREA is needed</li>
    <li>Schema APP_AREA_base is needed</li>
</ul>
<h4>Table</h4>
<ul>
    <li>Views for each table needed</li>
    <li>View must contain all fields of tables</li>
    <li>RLS Policy needd</li>
    <li>Information about RLS columns helpfull</li>
    <li>RLS Policy should be reduced to group/role tax_direct_access - to be discussed</li>
</ul>
<h4>Scope</h4>
<ul>
    <li>Does buckest exists</li>
    <li>Is bucket empty</li>
</ul>
<h4>User</h4>
<ul>
    <li>Direct access?</li>
    <li>Direct access but not defined in datahub!!</li>
    <li>Which scopes assigend?</li>
    <li>Which sessions?</li>
</ul>
<h4>Session</h4>
<ul>
    <li>Overview about outdated sessions</li>
</ul>




{% endblock %}