{% extends 'base.html' %}

{% block body %}

<header class="w3-container" style="padding-top:22px">
    <h2><i class="fa fa-stethoscope fa-fw"></i> Health Check
        {% if owner %}of {{owner.desc}} ({{owner}}) {% endif %}
    </h2>
</header>
<br>

<h3>Databases - Connections</h3>
<table  class="w3-table-all">
<tr><th>Database</th><th>Description</th><th>Container Type</th><th>Connection</th><th>Information</th></tr>
{% for db, x in health_dbs.items %}
{% if db.active %}
    <tr>
        <td><a href="{% url 'admin:organization_container_change' db.id %}">{{db}}</a>
        <td>{{db.desc}}</td>
        <td><a href="{% url 'admin:organization_containersystem_change' db.containersystem.id %}">{{db.containersystem.key}}</a></td>
        <td>{{db.connection}}</td>
        <td>{% autoescape off %}{{x.badge_x}}{% endautoescape %} - {{x.msg_x}}</td>
    </tr>
{% endif %}
{% endfor %}
</table>

<h3>Areas - Schemas</h3>
<table  class="w3-table-all">
<tr><th>Application</th><th>Description</th><th>Area</th><th>Description</th><th>Database</th><th>Table Schema</th><th>View Schema</th></tr>
{% for area, x in health_areas.items%}
{% if area.application.active %}
{% if area.active %}
    <tr>
        <td><a href="{% url 'admin:organization_application_change' area.application.id %}">{{area.application}}</a></td><td>{{area.application.desc}}</td>
        <td><a href="{% url 'admin:organization_area_change' area.id %}">{{area}}</a></td><td>{{area.desc}}</td>
        <td><a href="{% url 'admin:organization_container_change' area.database.id %}">{{area.database}}</a></td>
        {% if x.ok %}
            <td>{% autoescape off %}{{x.badge_t}}{% endautoescape %} - <a href="{% url 'checkarea' area.id %}">{{x.msg_t}}</a></td>
        {% else %}
            <td>{% autoescape off %}{{x.badge_t}}{% endautoescape %} - {{x.msg_t}}</td>
        {% endif %}
        <td>{% autoescape off %}{{x.badge_v}}{% endautoescape %} - {{x.msg_v}}</td>
    </tr>
{% endif %}
{% endif %}
{% endfor %}
</table>
{% if health_schemas %}
    <h1>Number of Tables of Schema "{{health_schemas.schema}}" in Area "{{health_schemas.area.application}} {{health_schemas.area}}": 
    {{health_schemas.number}}</h1>
    Check table if they have columns of the business unit types 
    {{health_schemas.area.application.business_unit_1}}  
    {{health_schemas.area.application.business_unit_2}}
    {{health_schemas.area.application.business_unit_3}}
{% endif %}

<h3>Checks - to be implemented</h3>
<h4>Database</h4>
<ul>
    <li><a href="https://github.com/splendiddata/login_hook">Login Hook</a> must be installed</li>
    <li>Schema login_hook</li>
    <li>Function get_login_hook_version, login, login_core, is_executing_login_hook</li>
    <li>Information about session ID should be provided</li>
</ul>
<h4>Application</h4>
<ul>
    <li>Schema APP_rd is needed for scope function </li>
    <li>Function APP_rd.tax_scope is needed</li>
    <li>login_hook.login_core must contain PERFORM APP_rd.APP_scope</li>
    <li>Table APP_rd.APP_scopes_filter is needed</li>
</ul>
Issues: 
    <li>Schema APP_rd is needed (hardcoded name).</li>
    <li>login_core is selecting just one scope of the user - unknown which one - should be default-defined by user</li>
    <li>Selected scope should be printed</li>
    <li>Table APP_scopes_filter contains old sesssions - will grow</li>
<h4>Area</h4>
<ul>
    <li>Schema APP_AREA is needed</li>
    <li>Schema APP_AREA_base is needed</li>
</ul>
<h4>Table</h4>
<ul>
    <li>Views for each table needed</li>
    <li>View must contain all fields of tables</li>
    <li>RLS Policy needd</li>
    <li>Information about RLS columns helpfull</li>
    <li>RLS Policy should be reduced to group/role tax_direct_access - to be discussed</li>
</ul>
<h4>Scope</h4>
<ul>
    <li>Does buckest exists</li>
    <li>Is bucket empty</li>
</ul>
<h4>User</h4>
<ul>
    <li>Direct access?</li>
    <li>Direct access but not defined in datahub!!</li>
    <li>Which scopes assigend?</li>
    <li>Which sessions?</li>
</ul>
<h4>Session</h4>
<ul>
    <li>Overview about outdated sessions</li>
</ul>



{% endblock %}