{% extends 'base.html' %}

{% block body %}

<header class="w3-container" style="padding-top:22px">
    <h2><i class="fa fa-gauge-high fa-fw"></i> Dashboard for {{owner}} - {{owner.desc}} (TBD)
        {% if application %}
        / {{application.key}} - {{application.desc}}
        {% endif %}
    </b></h2>
</header>

<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-theme w3-padding-16">
            <div class="w3-left"><i class="fa fa-city w3-xxxlarge"></i></div> 
            <div class="w3-right">
                <h3>{{owner.application_set.all|length}}/{{number_areas}}</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Applications / Areas </h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-theme w3-padding-16">
            <div class="w3-left"><i class="fa fa-solid fa-layer-group w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>{{number_scopes}}</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Scopes</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-theme w3-padding-16">
            <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>{{owner.user_set.all|length}}</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Users</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-theme w3-padding-16">
            <div class="w3-left"><i class="fa fa-solid fa-file w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3>99</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Ordered Reports</h4>
        </div>
    </div>

</div>

<hr>
<div class="w3-container w3-padding">
    <h4>Data Load Statistics</h4>
    <div class="w3-half w3-padding">
        <h5>Today</h5>
        <p>Tables loaded</p>
        <div class="w3-grey">
            <div class="w3-container w3-center w3-padding w3-green" style="width:85%">85%</div>
        </div>
    </div>
</div>
<div class="w3-container w3-padding">
    <h4>Report Statistics / Compared to Average</h4>

    <div class="w3-half w3-padding">
        <h5>Today</h5>
        <p>Ordered Reports</p>
        <div class="w3-grey">
            <div class="w3-container w3-center w3-padding w3-green" style="width:22%">22%</div>
        </div>
        <p>Execution Time</p>
        <div class="w3-grey">
            <div class="w3-container w3-center w3-padding w3-orange" style="width:80%">80%</div>
        </div>
        <p>Reports in Error State</p>
        <div class="w3-grey">
            <div class="w3-container w3-center w3-padding w3-red" style="width:2%">2%</div>
        </div>
    </div>
    <div class="w3-half w3-padding">
        <h5>Last 7 Days</h5>
        <p>Ordered Reports</p>
        <div class="w3-grey">
            <div class="w3-container w3-center w3-padding w3-green" style="width:80%">80%</div>
        </div>
        <p>Execution Time</p>
        <div class="w3-grey">
            <div class="w3-container w3-center w3-padding w3-orange" style="width:90%">90%</div>
        </div>
        <p>Reports in Error State</p>
        <div class="w3-grey">
            <div class="w3-container w3-center w3-padding w3-red" style="width:1%">1%</div>
        </div>
    </div>


</div>
<hr>

{% endblock %}