{% extends 'base.html' %}

{% block body %}

{% if user.is_authenticated %}

<div class="w3-panel w3-leftbar w3-light-gray w3-card-4 w3-padding">
    <h2>{{user.first_name}} {{user.last_name}} ({{user.username}})
        / Organization: <a href="{% url 'owner' user.owner.key %}">{{user.owner.desc}} ({{user.owner}})</a>
    </h2>
</div>

<div class="w3-row" >
    
    <div class="w3-col l3 m6 w3-panel w3-leftbar w3-light-gray w3-card-4 w3-padding w3-margin-right" style="height:6cm">
        {% if user.is_staff %}
            {% if user.is_superuser%}
            <h3>You are Superuser for all Owner:</h3>
            {% else %}
            <h3>Self-services for {{user.owner}}:</h3>
            {% endif %}
            {% if perms.organization.add_application %}            
                <li><a href="/admin">Maintain Areas and Business Unit-Definitions</a></li>
            {% endif %}
            {% if perms.organization.add_scope %}            
                <li><a href="{% url 'admin:organization_scope_changelist' %}">Maintain Scopes</a></li>
            {% endif %}
            {% if perms.organization.add_user %}            
                <li><a href="{% url 'admin:organization_user_changelist' %}">Maintain User</a></li>
            {% endif %}
            {% if perms.organization.add_container %}            
                <li><a href="/admin">Maintain Databases</a></li>
            {% endif %}
            <li><a href="{% url 'owner' user.owner.key %}">Review DATA-Hub Organization {{user.owner}} </a></li>
        {% else %}
            <h3>No self-services available</h3>
        {% endif %}
    </div>

    <div class="w3-col l3 m6 w3-panel w3-leftbar w3-light-gray w3-card-4 w3-margin-right" style="height:6cm">
        <h3>Scopes:</h3>
        {% for scope in all_scopes.all %}
            <li>{{scope}} - {{scope.desc}}</li>
        {% endfor %}
    </div>

    <div class="w3-col l3 m5 w3-panel w3-leftbar w3-light-gray w3-card-4 w3-padding w3-margin-right" style="height:6cm">
        <h3>Roles:</h3>
        {% if user.is_superuser %}
            <li>Superuser (Maintenance of all Hub-Elements)</li>
        {% else %}
            {% if user.is_staff %}
            <li>Staff (Access to Admin Sites)</li>
            {% endif %}
        {% endif %}

        {% for group in user.groups.all %}
            <li>{{group}}</li>
        {% endfor %}
    </div>    

    <div class="w3-col l3 m5 w3-panel w3-leftbar w3-light-gray w3-card-4 w3-padding w3-margin-right" style="height:6cm">
        <h3>Last 5 Activities:</h3>
        {% for logentry in LogEntrys %}
            <li>{{logentry}}</li>
        {% endfor %}
    </div>
    

    {% if user.is_superuser %}
        <div class="w3-col l3 m5 w3-panel w3-leftbar w3-light-gray w3-card-4 w3-padding w3-margin-right" style="height:6cm">
            <h3>Discussion on 26.06.2024:</h3>
            <li>ToDo: Maintenance of areas and their data container - Combination of application and area must be unique -> results in schema name. <a href="{% url 'admin:organization_area_changelist' %}">See areas</a></li>
            <li>ToDo: Owner concept for self-service. Solved by Hub Security.</li>
            <li>Postponed: Central scopes and teams should be  defined flexible - they are just other scopes</li>
        </div>

        <div class="w3-col l3 m5 w3-panel w3-leftbar w3-light-gray w3-card-4 w3-padding w3-margin-right" style="height:6cm">
            <h3>Open:</h3>
            <li>Scopes anlage: üben und als Übersicht anbieten: Schnellerfassung pagination nach neu angelegt und von mir, wer darf alles dran</li>
            <li>Upload File: https://docs.djangoproject.com/en/5.0/ref/forms/api/#binding-uploaded-files-to-a-form</li>
        </div>

    {% endif %}
    {% else %}
    Schade eigentlich

    {% endif %}

</div>
{% endblock %}
