{% extends 'base.html' %}

{% block body %}

{% if user.is_authenticated %}

<h2>Wellcome {{user.first_name}} {{user.last_name}} ({{user.username}})</h2>

<h3>You have access to applications and data from
    <a href="{% url 'admin:organization_owner_change' user.owner.id %}">{{user.owner}}</a>. You can use following scopes:
</h3>
<ul>
    {% for scope in user.scopes.all %}
        <li><a href="{% url 'admin:organization_scope_change' scope.id %}">{{scope}} ({{scope.desc}})</a></li>
    {% endfor %}
</ul>

<h3>You are member of these groups:</h3>
<ul>
    {% for group in user.groups.all %}
    <li><a href="{% url 'admin:organization_group_change' group.id %}">{{group}}</a></li>
    {% endfor %}
</ul>

{% if user.is_staff %}
    {% if user.is_superuser %}
        <h3>You are superuser - so you can change restrictions for all DATA-Hub elements</h3>
    {% else %}
        <h3>You have access to self-service for {{user.owner}}:</h3>
    {% endif %}
    <ul>
        <li><a href="/admin">Maintenance of security</a> (dependent from your acsess rights)</li>
        <li><a href="{% url 'owner' user.owner.key %}">See the structure</a> of the DATA-Hub elements for {{user.owner}}</li>
        <li><a href="{% url 'admin:organization_user_change' user.id %}">Maintain your configuration (language, standard scope)</a>     
        <li><a href="{% url 'admin:organization_scope_changelist' %}">Maintain business units (scopes) </a> and 
            <a href="{% url 'admin:organization_user_changelist' %}">user</a></li>
    </ul>
{% endif %}

<h3>Your last 5 activities:</h3>
<ul>
    {% for logentry in LogEntrys %}
    <li>{{logentry}}</li>
    {% endfor %}
</ul>

<h3>Hint:</h3>
<ul>
    <li>If you are missing permissions, following kollegs can help you:
        {% for other_user in users %}
            {% if not other_user == user %}
                {% if other_user.is_superuser %}
                    <a href="{% url 'switch_user' other_user.id %}">{{other_user.first_name}} {{other_user.last_name}} ({{other_user.owner}})</a>, 
                {% else %}
                    {% if other_user.is_staff %}
                        {% if other_user.owner == user.owner %}
                        <a href="{% url 'switch_user' other_user.id %}">{{other_user.first_name}} {{other_user.last_name}} ({{other_user.owner}})</a>, 
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </li>

    <li>Other users are:
        {% for other_user in users %}
            {% if not other_user == user %}
                <a href="{% url 'switch_user' other_user.id %}">{{other_user.first_name}} {{other_user.last_name}} ({{other_user.owner}})</a>, 
            {% endif %}
        {% endfor %}
    </li>
    
    <li>Other organizations using the DATA-Hub:
        {% for owner in owners %}
        <a href="{% url 'owner' owner.key %}">{{owner.key}}</a>, 
        {% endfor %}
    </li>    
</ul>

{% if user.is_superuser %}
    <h3>To be discussed (internal):</h3>
    <ul>
        <li>Maintenance of areas and their data container - Combination of application and area must be unique -> results in schema name. <a href="{% url 'admin:organization_area_changelist' %}">See areas</a></li></li>
        <li>Do we still need the ...-base-schemas? Original idea was to use barrier views, so we needed a secound schema. See: <a href="{% url 'owner' 'SVA ZH' %}">'SVA ZH'</a>, </li>
        <li>Owner concept for self-service. Can be solved by Hub Security or owner assignment.</li>
        <li>Discuss usage of central scopes and teams</li>
        <li>Business unit definition and scopes are on application-Level -> how do we restrict Users to specific areas</li>
    </ul>
{% endif %}
{% else %}
Schade eigentlich

{% endif %}


{% endblock %}