{% extends 'base.html' %}

{% block body %}

<header class="w3-container" style="padding-top:22px">
    <h2><i class="fa fa-upload fa-fw"></i> Load AW Data</h2>
</header>
<br>

<div class="w3-row-padding w3-margin-bottom">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="w3-row-padding w3-margin-bottom w3-third">
        <table>                
        {% for cls, number in classes.items %}
            <tr>
            <td><h3>{{cls}} {{number}} </h3></td>
            <td><input class="w3-button w3-green w3-right w3-margin-right" type="submit" name="{{cls}}" value="Load"></td>
            <td><input class="w3-button w3-red w3-right w3-margin-right" type="submit" name="{{cls}}" value="Delete"></td>
            </tr>
        {% endfor %}
        </table>
        </div>
    </form>
</div>
{% endblock %}