{% extends 'base.html' %}

{% block body %}

<header class="w3-container" style="padding-top:22px">
    <h2><i class="fa fa-upload fa-fw"></i> Load Data</h2>
</header>
<br>

<div class="w3-row-padding w3-margin-bottom">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="w3-row-padding w3-margin-bottom w3-third">
            {% for cls, number in classes.items %}
            <h3>Number {{cls}} loaded: {{number}}
                <input class="w3-green w3-right w3-margin-right" type="submit" name="{{cls}}" value="Save">
                <input class="w3-red w3-right w3-margin-right" type="submit" name="{{cls}}" value="Delete">
            </h3>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}