{% extends 'base.html' %}

{% block body %}
  
<h2 >Owner: <a href="{% url 'admin:organization_owner_change' owner.id %}">{{owner}}</a> - {{owner.desc}}</h2>

<h3>Container</h3>
<ul>{% for container in containers %}
    <li><b><a href="{% url 'admin:organization_container_change' container.id %}">{{container}}</a></b> ({{container.containertype}})</li>
    {% endfor %}
</ul>

<h3>Applications</h3>
<ul>{% for application in applications %}
<li><b><a href="{% url 'admin:organization_application_change' application.id %}">{{application}}</a></b> {{application.desc}}
    / BUs: 
    {{application.business_unit_1}} 
    {% if application.business_unit_2 %} , {{application.business_unit_2}} {% endif %}
    {% if application.business_unit_3 %} , {{application.business_unit_3}} {% endif %}
    {% if application.business_unit_4 %} , {{application.business_unit_4}} {% endif %}
    {% if application.business_unit_5 %} , {{application.business_unit_5}} {% endif %}

    <ul><li>Areas:</li>
        <ul>{% for area in application.area_set.all %}
        <li><b><a href="{% url 'admin:organization_area_change' area.id %}">{{area}}</a></b> ({{area.desc}})
            with Database: <b><a href="{% url 'admin:organization_container_change' area.database.id %}">{{area.database}}</a></b> ({{area.database.desc}});
            Schema for user acces: <b>{{area.application.key.lower}}_{{area.key.lower}}</b>; 
            Schema for tables: <b>{{area.application.key.lower}}_{{area.key.lower}}_base</b>
            <br>
            with Filestorage: <b><a href="{% url 'admin:organization_container_change' area.filestorage.id %}">{{area.filestorage}}</a></b> ({{area.filestorage.desc}});
        </li>
        {% endfor area %}
    </ul>

    <li>Scopes = MinIo Buckets or Folder in Filesystem and RLS in DBs:</li>
    <ul>{% for scope in application.scope_set.all %}
        <li><b><a href="{% url 'admin:organization_scope_change' scope.id %}">{{scope}}</a> {{scope.desc}} </b>
            org: <b><a href="{% url 'admin:organization_scope_change' scope.org_scope_id %}">{{scope.org_scope}}</a></b> {{scope.org_scope.desc}}
            app: <b><a href="{% url 'admin:organization_scope_change' scope.app_scope_id %}">{{scope.app_scope}}</a></b> {{scope.app_scope.desc}}
        </li>
        {% endfor scope %}
    </ul>

</ul>
{% endfor application %}
</ul>

<h3>User</hr>
<ul>{% for user in owner.user_set.all %}
    <li><b>
        <a href="{% url 'admin:organization_user_change' user.id %}">{{user}}</a></b> {{user.first_name}} {{user.last_name}}
        ({% for grp in user.groups.all %}
            <a href="{% url 'admin:organization_group_change' grp.id %}">{{grp}}</a>,
        {% endfor %})
        with access to scopes:
        ({% for scope in user.scopes.all %}
            <a href="{% url 'admin:organization_scope_change' scope.id %}">{{scope}}</a>,  
        {% endfor %})
        / <a href="{% url 'user' user.id %}">DETAILS</a> 
    </li>
{% endfor user %}
</ul>

{% endblock %}
