{% extends 'base.html' %}

{% block body %}

<header class="w3-container" style="padding-top:22px">
    <h2><i class="fa fa-cog fa-fw"></i> Set Areascope for {{request.user.first_name}} {{request.user.last_name}} ({{request.user.username}})
    - used Scope: {{request.user.use_scope}}</h2>
</header>

<br>

{% for application, areascopes in applications.items %}
<div class="w3-container w3-theme-l3 w3-padding-16">
    <h3>{{application}} - {{application.desc}} 
        <button class="w3-bar-item w3-theme w3-right w3-margin-right"  onclick="show('{{application}}')"><i class="fa fa-chevron-down fa-fw"></i></button> 
    </h3>

    <div id="{{application}}" style="display:initial">
        {% for areascope in areascopes %}
            <a href='{% url "setareascope" areascope.id %}'>{{areascope}}</a> {% if areascope.desc %} - {{areascope.desc}} {% endif %}
            <br>
        {% endfor %}

    </div>
</div>
<hr>
{% endfor %}

<br>
{% endblock %}