{% extends 'base.html' %}

{% block body %}

<header class="w3-container" style="padding-top:22px">
    <h2><i class="fa fa-gauge-high fa-fw"></i> Load Data</h2>
</header>

<br>

<div class="w3-row-padding w3-margin-bottom">
    <form action="" method="POST">
        {% csrf_token %}
        <table>    
            {{ form.as_table }}
        </table>
        <input class="w3-green" type="submit" value="Save" >
        <input class="w3-khaki" type="submit" onclick="window.location='{% url 'index' %}'; return false;" value="Cancel">
    </form>
</div>
{% endblock %}